.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #496246; /* Axolotl */
}

.logo {
    width: 100px;
    height: auto;
}

.nav-bar {
    float: right;
}

.nav-bar > ul {
    font-size: 20px;
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.nav-bar > ul > li {
    padding: 10px 15px;
    margin: 0px 10px;
    background-color: #accfc5; /* Jet Stream */
    color: #496246; /* Axolotl */
}

.nav-bar > ul > li:hover {
    background-color: #97b6b1; /* Summer Green */
    color: white;
}

.res-img {
    width: 139.6px;
    height: 195.863px;
    padding: 19px;
    margin: 0px;
    border-radius: 25px;
}

.res-card {
    display: inline;
    width: 200px;
    margin: 10px 10px;
    background-color: #dfeae9; /* Mystic */
    border-radius: 25px;
    overflow: hidden;
    word-wrap: break-word;  
    /* word wrap helps us to */
}

.res-card:hover {
    background-color: #97a78c; /* Sage */
    cursor: pointer;
}

.res-card h3 {
    margin:  5px 0px;
    text-align: center;
    color: #496246; /* Axolotl */
}
.res-card h4 {
    margin:  5px 5px;
    text-align: center;
    color: #496246; /* Axolotl */
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    
}

#home:hover, #about:hover, #contact:hover, #cart:hover {
    background-color: #accfc5; /* Jet Stream */
    cursor: pointer;
}

.shimmer-cont {
    display: flex;
    flex-wrap: wrap;
}

.shimmer {
    background-color: #dfeae9; /* Mystic */
    width: 200px;
    height: 300px;
    margin: 10px 10px;
}

#login:hover {
    cursor: pointer;
    background-color: #97a78c; /* Sage */
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search {
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    cursor: pointer;
    transition: 0.8s;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
        -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.search:hover > .search-input {
    width: 400px;
}

/* .search-input {
    width: auto;
    height: 20px;
    border: 1px solid #496246;
    background-color: #dfeae9;
} 
*/

.search .search-input {
    background: transparent;
    border: none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
}

.search-btn {
    background: #5cbdbb;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.8s;
}

.search-btn:hover {
    animation: hoverShake 0.15s linear 3;
}

/* Shake animation */
@keyframes hoverShake {
    0% {
        transform: skew(0deg, 0deg);
    }
    25% {
        transform: skew(5deg, 5deg);
    }
    75% {
        transform: skew(-5deg, -5deg);
    }
    100% {
        transform: skew(0deg, 0deg);
    }
}

.filter-btn {
    width: auto;
    height: 25px;
}
