.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.logo {
    width: 100px;
    height: auto;
}

.nav-bar {
    float: right;
}

.nav-bar > ul {
    font-size: 20px;
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.nav-bar > ul > li {
    padding: 10px 15px;
    margin: 0px 10px;
}

.res-img {
    width: 160px;
    height: 160px;
    padding: 19px;
    margin: 0px;
    border-radius: 25px;
}

.res-card {
    width: 200px;
    margin: 10px 10px;
    background-color: #E4E0E1;
    border-radius: 25px;
    overflow: hidden;
    word-wrap: break-word;  
    /* word wrap helps us to */
}

.res-card:hover {
    background-color: #B7B7B7;
    cursor: pointer;
}

.res-card h3 {
    margin:  5px 0px;
    text-align: center;
}
.res-card h4 {
    margin:  5px 5px;
    text-align: center;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    
}

#home:hover, #about:hover, #contact:hover, #cart:hover {
    background-color: #E4E0E1;
    cursor: pointer;
}

.shimmer-cont {
    display: flex;
    flex-wrap: wrap;
}

.shimmer {
    background-color: #E4E0E1;
    width: 200px;
    height: 300px;
    margin: 10px 10px;
}